*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Comic Sans MS", cursive;
	font-size: 15px;
	color: #232323;
	background: #5C87B2;
}
#head{
	background: #f9f9f9;
	height: 100px;
	padding-top: 15px;
	border-bottom: 1px solid #d5dce8;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
#head h1{
	float: left;
}
#head a{
	float: right;
}
input, select{
	width: 300px;
	height: 35px;
}
#nav{
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #d5dce8;
 border-right: 1px solid #d5dce8;
 border-bottom: 1px solid #d5dce8;
 border-bottom-left-radius: 4px;
 -moz-border-radius-bottomleft: 4px;
 -webkit-border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px;
 -moz-border-radius-bottomright: 4px;
 -webkit-border-bottom-right-radius: 4px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	background: #f9f9f9;
}
#nav li{
	float: left;
	display: block;
	background: none;
	position: relative;
	z-index: 999;
	margin: 0 1px;
}
#nav li a {
	display: block;
	padding: 0;
	font-weight: 700;
	line-height: 50px;
	text-decoration: none;
	color: #818ba3;
	zoom:1;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	padding: 0px 12px;
}
#nav li a:hover, #nav li a.hov {
 background-color: #fff;
 border-left: 1px solid #d5dce8;
 border-right: 1px solid #d5dce8;
 color: #576482;
}
/* subnav */
#nav ul {
 position: absolute;
 left: 1px;
 display: none;
 margin: 0;
 padding: 0;
 list-style: none;
 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 padding-bottom: 3px;
}
#nav ul li {
 width: 180px;
 float: left;
 border-top: 1px solid #fff;
 text-align: left;
}
#nav ul li:hover {
 border-left: 0px solid transparent;
 border-right: 0px solid transparent;
}
#nav ul a {
 display: block;
 height: 20px;
 line-height: 20px;
 padding: 8px 5px;
 color: #666;
 border-bottom: 1px solid transparent;
 text-transform:  uppercase;
 color: #000;
 font-weight: normal;
}
#nav ul a:hover {
 text-decoration: none;
 border-right-color: transparent;
 border-left-color: transparent;
 background: transparent;
 color: #4e4e4e;
}